<nav class="navbar navbar-expand-md navbar-dark d-flex flex-md-column">
  <a href="/">
    <img src="/favicon.svg" alt="logo" width="200px" />
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" class="collapse navbar-collapse w-100 my-3">
    <ul class="navbar-nav w-100 d-flex flex-md-column text-center">
      <li>
        <a href="/games/quickplay" class="nav-link btn btn-secondary my-1">Quickplay!</a>
      </li>
      <li>
        <button class="nav-link btn btn-secondary my-1 w-100" data-bs-toggle="modal" data-bs-target="#pair-up-modal">Pair Up!</button>
      </li>
      <li>
        <button class="nav-link btn btn-secondary my-1 w-100" id="logoutBtn">Log out!</button>
      </li>
    </ul>
  </div>
</nav>

<div class="modal fade" id="pair-up-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Pair up!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="username_pairup">Username</label>
          <input type="text" class="form-control" id="username_pairup" placeholder="username">
        </div>
        <div id="error_text_pairup"> </div>
        <div class="modal-footer">
          <button type="button" id="pairupBtn" class="btn btn-primary">Pair up!</button>
        </div>
      </div>
    </div>
  </div>
</div>