<nav class="navbar navbar-expand-md navbar-dark d-flex flex-md-column">
  <a href="/">
    <img src="/favicon.svg" alt="logo" width="200px" />
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" class="collapse navbar-collapse w-100 my-3">
    <ul class="navbar-nav w-100 d-flex flex-md-column text-center">
      <li>
        <a href="/games/quickplay" class="nav-link btn btn-secondary my-1">Quickplay!</a>
      </li>
      <li>
        <button class="nav-link btn btn-secondary my-1 w-100">Pair up!</button>
      </li>
      <li>
        <button class="nav-link btn btn-secondary my-1 w-100" id="logoutBtn">Log out!</button>
      </li>

    </ul>
  </div>
</nav>