<!DOCTYPE html>
<html>
<%- include('./partials/head', {title : 'TBChess'}) %>

<body>
  <div class="container d-flex flex-column flex-md-row bg-dark min-vh-100">
    <%- include('./partials/sidebar') %>
  </div>
  <script src="./js/main.js"></script>
</body>

</html>