<!DOCTYPE html>
<html>
<%- include('./partials/head', {title : 'TBChess'}) %>

<body>
  <div class="container d-flex flex-column flex-md-row bg-dark min-vh-100">
    <%- include('./partials/sidebar') %>
    <div class="container d-flex flex-column align-items-center justify-content-center">
      <h1>Totally balanced chess</h1>
      <p>barely a game</p>
      <p>idk if I want designing credit on this game but ok</p>
      <div id="gameBoard" class="text-center"></div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js" integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD" crossorigin="anonymous"></script>
  <script src="/js/indexRandomizer.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>